@charset "utf-8";

@font-face {
  font-family: "GeekbleMalang2WOFF2";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --mw: 1200px;
  --fs1: 16px;
  --fs2: 20px;
  --fs3: 24px;
  --fs4: 32px;
  --fs5: 40px;
  --fs6: 64px;

  --fc1: #1da2ed;
  --fc2: #c5eaff;
}
a {
  color: inherit;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.mw {
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: auto;
}

/*////////// Header ////////// */
.hd {
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.hd.blur {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
}
.hdInner {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hd .logo {
  width: 120px;
}
.hd .logo img {
  width: 100%;
}
.btnSearch {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--fc1);
  color: #ffffff;
  font-size: var(--fs2);
  font-family: "LINESeedKR-Bd";
  margin-right: 1.5rem;
  padding-top: 0.25rem;
  transition: 0.3s;
}
.btnSearch:hover {
  background-color: #64c5fd;
}

/*////////// Main - MainBanner ////////// */
.mainBanner {
  position: relative;
  padding-top: 30%;
  /* height: 600px; */
  background-image: url(/public/img/indexBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.mainBanner .bannerInner {
  position: absolute;
  border: 1px solid blue;
  /* margin: 0 2rem; */
  padding: 0 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}
.mainBanner .pgTitle {
  font-family: "GeekbleMalang2WOFF2";
  font-size: var(--fs6);
  margin-bottom: 0.75rem;
}
.mainBanner .pgTitle span {
  margin-right: 0.5rem;
  text-shadow: 0px 4px 4px #313131;
}
.mainBanner .title1 {
  color: #1da2ed;
}
.mainBanner .title2 {
  color: #90f06e;
}
.mainBanner .title3 {
  color: #ffffff;
}
.mainBanner .pgInfo {
  font-family: "SEBANG_Gothic_Bold";
  font-size: var(--fs4);
  color: #003769;
}

/*////////// Main - MainMap ////////// */
.mainMap {
  padding-top: 80px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
.mainMap .secTitle {
  display: flex;
  align-items: center;
}
.mainMap .dogPaw {
  width: 40px;
  margin-right: 1rem;
}
.mainMap .dogPaw img {
  width: 100%;
}
.mainMap .secTitle span {
  font-family: "GeekbleMalang2WOFF2";
  font-size: var(--fs4);
}
.mapImg {
  width: 500px;
  position: relative;
  /* border: 1px solid blue; */
}
.mapImg a {
  position: absolute;
  padding: 0.25rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.2s;
}
.mapImg a .mapPin {
  margin-bottom: 0.2rem;
  color: #c5eaff;
}
.mapImg a:hover .mapPin {
  scale: 1.3;
}
.mapImg a.on .mapPin {
  color: #1da2ed;
  scale: 1.5;
}
.mapImg a.on:hover .mapPin {
  scale: 1.6;
}
.mapImg a span {
  /* font-size: var(--fs1); */
  font-weight: bold;
}
.mapImg a:hover span {
  color: #2176d6;
}
a.CheorwonLink {
  top: 100px;
  left: 50px;
}
a.HwacheonLink {
  top: 125px;
  left: 120px;
}
a.YangguLink {
  top: 120px;
  left: 190px;
}
a.GoseongLink {
  top: 75px;
  left: 282px;
}
a.SokchoLink {
  top: 125px;
  left: 310px;
}
a.InjeLink {
  top: 150px;
  left: 250px;
}
a.ChuncheonLink {
  top: 200px;
  left: 125px;
}
a.HongcheonLink {
  top: 239px;
  left: 192px;
}
a.YangyangLink {
  top: 190px;
  left: 325px;
}
a.GangneungLink {
  top: 259px;
  left: 375px;
}
a.PyeongchangLink {
  top: 287px;
  left: 290px;
}
a.HoengseongLink {
  top: 300px;
  left: 205px;
}
a.WonjuLink {
  top: 350px;
  left: 158px;
}
a.YeongwolLink {
  top: 395px;
  left: 275px;
}
a.JeongseonLink {
  top: 350px;
  left: 335px;
}
a.DonghaeLink {
  top: 320px;
  left: 420px;
}
a.SamcheokLink {
  top: 395px;
  left: 435px;
}
a.TaebaekLink {
  top: 422px;
  left: 390px;
}
.mapImg svg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.area {
  fill: rgb(255, 255, 255);
  transition: 0.2s;
}
.area.on {
  fill: #82cbff;
}

.mainMap .selectDetail {
  width: calc(100% - 500px - 5rem);
}
.mainMap .nameCon {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}
.mainMap .selectLocation {
  font-size: var(--fs4);
  font-family: "GeekbleMalang2WOFF2";
  margin-right: 1rem;
}
.mainMap .btnViewMore {
  width: 25px;
  height: 25px;
  background-color: var(--fc1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.mainMap .btnViewMore > span {
  color: #ffffff;
  font-size: var(--fs3);
}
.mainMap .detailSlide {
  margin-top: 30px;
  padding: 25px 50px;
  border: 1px solid #dbdbdb;
  border-radius: var(--fs1);
  height: 500px;
  /* overflow: scroll; */
}
.mainMap .tabMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.mainMap .tabBtn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: var(--fc2);
  color: #537884;
  border-radius: 0.5rem;
  cursor: pointer;
}
.mainMap .mapSlideList {
  display: flex;
  border: 1px solid #b8b8b8;
  border-radius: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.mainMap .mapSlideImg {
  width: 30%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.mainMap .mapSlideImg img {
  width: 100%;
  height: 100%;
}
.mainMap .mapSlideInfo {
  display: flex;
  flex-direction: column;
  width: calc(70% - 1rem);
}
