@charset "utf-8";

@font-face {
  font-family: "SEBANG_Gothic_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Katuri";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mw: 1200px;
  --mwSlide: 1300px;
  --mwSlide2: 1260px;
  --fs1: 16px;
  --fs2: 20px;
  --fs3: 24px;
  --fs4: 32px;
  --fs5: 40px;
  --fs6: 64px;

  --fc1: #1da2ed;
  --fc2: #c5eaff;
  --fc3: #e9f7ff;
  /* --fc4: #fdcf74; */
  --fc4: #ffab5e;
  /* --fc5: #ffbd38; */
  --fc5: rgb(254, 181, 35);

  font-family: "SEBANG_Gothic_Regular";
}
a {
  color: inherit;
  transition: 0.3s;
}
a:hover {
  color: black;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
span,
p {
  word-break: keep-all;
}
select {
  cursor: pointer;
}
.mw {
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: auto;
}
.mwSlide {
  max-width: var(--mwSlide);
  width: calc(100% - 2rem);
  margin: auto;
}
.mwSlide2 {
  max-width: var(--mwSlide2);
  width: calc(100% - 2rem);
  margin: auto;
}

/*////////// Header ////////// */
.hd {
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* .hd.blur {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(3px);
} */
.hdInner {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hd .logo {
  width: 120px;
  /* padding-top: 0.5rem; */
  margin-left: -1.5rem;
}
.hd .logo img {
  width: 100%;
}
.btnSearch {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--fc1);
  color: #ffffff;
  font-size: var(--fs2);
  /* font-family: "LINESeedKR-Bd"; */
  padding-top: 0.25rem;
  transition: 0.3s;
}
.searchIcon {
  display: none;
}
@media (hover: hover) {
  .btnSearch:hover {
    /* background-color: #64c5fd; */
    background-color: var(--fc4);
  }
}

/*////////// search modal ////////// */
.searchModalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}
.searchModalWrap.on {
  display: flex;
}
.searchModalWrap .searchModal {
  background-color: var(--fc3);
  background-image: url(/public/img/searchModalDog.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: 80vh;
  /* height: 850px; */
  /* overflow: auto; */
  padding: 120px;
  position: relative;
}
.searchModalWrap .modalDog {
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
.searchModalWrap .modalDog img {
  width: 100%;
}
.searchModalWrap .closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s;
  z-index: 5;
}
@media (hover: hover) {
  .searchModalWrap .closeBtn:hover {
    color: var(--fc1);
  }
}
.searchModalWrap .modalTitle {
  font-family: "SEBANG_Gothic_Bold";
  color: #003769;
  font-size: var(--fs5);
  text-align: center;
  margin-bottom: 30px;
}
.searchModalWrap .searchInputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}
.searchModalWrap .boxInner {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  max-width: 500px;
  width: 100%;
  position: relative;
}
.searchModalWrap .searchInput {
  width: 100%;
  height: 50px;
  color: #222222;
  outline: none;
  border: none;
  border-bottom: 3px solid #aaaaaa;
  position: relative;
  background: none;
  z-index: 6;
  padding: 0.25rem 0.5rem 0 0.75rem;
  font-size: var(--fs2);
}
.searchModalWrap .boxInner span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #666;
  width: 0;
  height: 3px;
  border-radius: 2px;
  transition: 0.5s;
  z-index: 6;
}
.searchModalWrap .inputInfo {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}
input.searchInput:focus ~ .inputInfo,
input.searchInput:valid ~ .inputInfo {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}
input.searchInput:focus ~ span,
input.searchInput:valid ~ span {
  width: 100%;
}
.searchModalWrap .keywordCon {
  width: 90%;
  /* margin-top: 1rem; */
  height: 80px;
  padding: 0 30px;
  z-index: 6;
  /* border: 1px solid red; */
  position: relative;
}
.searchModalWrap .swiper-button-prev,
.searchModalWrap .swiper-button-next {
  color: #000000;
  position: absolute;
  bottom: 0;
  margin: 0;
}
.searchModalWrap .swiper-button-prev {
  left: 0;
}
.searchModalWrap .swiper-button-next {
  right: 0;
}
.searchModalWrap .swiper-button-prev::after,
.searchModalWrap .swiper-button-next::after {
  font-size: var(--fs2);
  font-weight: bold;
}
.searchModalWrap .keywordItem {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  z-index: 6;
}
.searchModalWrap .searchKeyword {
  color: #888888;
  font-size: var(--fs2);
}
.searchModalWrap .searchKeyword.on {
  color: #000000;
  font-weight: bold;
}

.searchModalWrap .searchResult {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0.5rem 2rem 0;
}
.searchModalWrap .searchResult::-webkit-scrollbar {
  width: 10px;
  height: 350px;
}
.searchModalWrap .searchResult::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 1rem;
  height: 20%;
}
.searchModalWrap .searchResult::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
.searchModalWrap .resultItem {
  width: calc(100% / 2 - 1rem);
  height: 105px;
  margin-bottom: 1rem;
  border: 1px solid #c2c2c2;
  border-radius: 1rem;
  background-color: #ffffff;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchModalWrap .resultItem:nth-of-type(2n-1) {
  margin-right: 1rem;
}
.searchModalWrap .resultItem a {
  width: 100%;
  padding: 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (hover: hover) {
  .searchModalWrap .resultItem:hover {
    background-color: #daf7ffbb;
    color: #000000;
  }
}

.searchModalWrap .resultImg {
  width: 80px;
  height: 100%;
  overflow: hidden;
  /* border: 1px solid red; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchModalWrap .resultImg img {
  width: 150%;
}
.searchModalWrap .resultDetail {
  width: calc(100% - 80px - 1.5rem);
  display: flex;
  flex-direction: column;
}
.searchModalWrap .resultTitle {
  font-size: var(--fs2);
  font-weight: bold;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchModalWrap .resultAd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*////////// Main - MainBanner ////////// */
.mainBanner {
  /* position: relative; */
  height: 500px;
  background-image: url(/public/img/indexBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.mainBanner .bannerInner {
  /* position: absolute; */
  /* border: 1px solid violet; */
  display: flex;
  align-items: center;
  height: 100%;
  /* padding: 2rem; */
}
.mainBanner .bannerText {
  /* background-color: #ffffff83; */
  /* margin-top: 2rem; */
  /* padding: 3rem 2rem; */
  padding-top: 3rem;
  border-radius: 1rem;
}
.mainBanner .pgTitle {
  /* font-family: "GeekbleMalang2WOFF2"; */
  font-family: "Katuri";
  font-size: var(--fs6);
  margin-bottom: 1.25rem;
}
.mainBanner .pgTitle span {
  margin-right: 0.5rem;
  text-shadow: 0px 4px 4px #313131;
}
.mainBanner .title1 {
  /* color: #1da2ed; */
  /* color: #90f06e; */
  /* color: #ff9f10; */
  color: #ffffff;
}
.mainBanner .title2 {
  /* color: #90f06e; */
  /* color: #edd81d; */
  color: #ffffff;
}
.mainBanner .title3 {
  color: #ffffff;
  /* color: #ffa500; */
  /* color: #7af250; */
  /* color: #ffffff; */
}

.mainBanner .pgInfo {
  /* font-family: "SEBANG_Gothic_Bold"; */
  font-size: var(--fs4);
  color: #003769;
  padding-left: 0.25rem;
  /* color: #ffff62; */
}

/*////////// Main - MainMap ////////// */
.mainMapWrapper {
  height: 730px;
  /* border: 1px solid blue; */
  position: relative;
}

/* 사이드 버튼 - 반응형에서 쓰일 버튼 */
.mainMapWrapper .sideBtn {
  background-color: var(--fc1);
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-30%);
  writing-mode: vertical-lr;
  border-radius: 0 1rem 1rem 0;
  transition: 0.3s;
  z-index: 4;
  display: none;
}
@media (hover: hover) {
  .mainMapWrapper .sideBtn:hover {
    /* background-color: #64c5fd; */
    background-color: var(--fc4);
  }
}
.mainMapWrapper .sideBtn > div {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 0.5rem;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
}
.mainMapWrapper .sideBtn > div:nth-of-type(2) {
  display: none;
}
.mainMapWrapper .sideBtn.on > div:nth-of-type(1) {
  display: none;
}
.mainMapWrapper .sideBtn.on > div:nth-of-type(2) {
  display: flex;
}

.mainMap {
  padding-top: 80px;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* index페이지 섹션타이틀 */
.secTitle {
  display: flex;
  align-items: center;
}
.dogPawImg {
  width: 40px;
  /* margin-right: 1rem; */
  margin-right: 0.75rem;
  padding-top: 0.5rem;
}
.dogPaw img {
  width: 100%;
}
.secTitle span {
  font-family: "Katuri";
  font-size: var(--fs4);
}
.mapImg {
  width: 500px;
  position: relative;
  /* border: 1px solid blue; */
}
.mapImg a {
  position: absolute;
  padding: 0.25rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.2s;
}
.mapImg a .mapPin {
  margin-bottom: 0.2rem;
  color: #c5eaff;
  transition: 0.3s;
}
.mapImg a.on .mapPin {
  color: #1da2ed;
  /* color: var(--fc4); */
  scale: 1.5;
}
.mapImg a span {
  /* font-size: var(--fs1); */
  font-weight: bold;
}
@media (hover: hover) {
  .mapImg a:hover .mapPin {
    scale: 1.3;
    color: var(--fc4);
  }
  .mapImg a.on:hover .mapPin {
    scale: 1.6;
    color: var(--fc4);
  }
  .mapImg a:hover {
    color: #000000;
  }
}
a.Cheorwon {
  top: 100px;
  left: 50px;
}
a.Hwacheon {
  top: 125px;
  left: 120px;
}
a.Yanggu {
  top: 120px;
  left: 190px;
}
a.Goseong {
  top: 75px;
  left: 282px;
}
a.Sokcho {
  top: 125px;
  left: 310px;
}
a.Inje {
  top: 150px;
  left: 250px;
}
a.Chuncheon {
  top: 200px;
  left: 125px;
}
a.Hongcheon {
  top: 239px;
  left: 192px;
}
a.Yangyang {
  top: 190px;
  left: 325px;
}
a.Gangneung {
  top: 259px;
  left: 375px;
}
a.Pyeongchang {
  top: 287px;
  left: 290px;
}
a.Hoengseong {
  top: 300px;
  left: 205px;
}
a.Wonju {
  top: 350px;
  left: 158px;
}
a.Yeongwol {
  top: 395px;
  left: 275px;
}
a.Jeongseon {
  top: 350px;
  left: 335px;
}
a.Donghae {
  top: 320px;
  left: 420px;
}
a.Samcheok {
  top: 395px;
  left: 435px;
}
a.Taebaek {
  top: 422px;
  left: 390px;
}
.mapImg svg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.area {
  fill: rgb(255, 255, 255);
  transition: 0.2s;
}
.area.on {
  fill: #82cbff;
}

.mainMap .selectDetail {
  width: calc(100% - 500px - 7rem);
  border-radius: 1rem;
}
.mainMap .nameCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}
.mainMap .selectLocation {
  font-size: var(--fs4);
  font-family: "Katuri";
  margin-left: 1rem;
  transition: 0.3s;
}
@media (hover: hover) {
  .mainMap .selectLocation:hover {
    color: var(--fc1);
  }
}
.mainMap .btnViewMore {
  display: inline-block;
  /* color: var(--fc1); */
  font-size: var(--fs2);
  padding-top: 0.5rem;
  margin-right: 1rem;
  /* transition: 0.3s; */
}
.mainMap .btnViewMore > span {
  margin-right: 0.5rem;
  transition: 0.3s;
}
.mainMap .btnViewMore > i {
  transition: 0.3s;
}
@media (hover: hover) {
  .mainMap .btnViewMore:hover > span,
  .mainMap .btnViewMore:hover > i {
    /* color: #00e5ff; */
    /* color: #57f0f0; */
    color: var(--fc5);
  }
  .mainMap .btnViewMore:hover > span:nth-of-type(2) {
    margin-right: 0.75rem;
  }
}
.mainMap .detailCon {
  margin-top: 20px;
  padding: 25px 0;
  border: 1px solid #dbdbdb;
  border-radius: var(--fs1);
  overflow: hidden;
}
.mainMap .tabMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 50px;
}
.mainMap .tabBtn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: var(--fc2);
  color: #537884;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
@media (hover: hover) {
  .mainMap .tabBtn:hover,
  .mainMap .tabBtn.on:hover {
    /* background-color: #64c5fd; */
    background-color: var(--fc4);
    color: #ffffff;
  }
}
.mainMap .tabBtn.on {
  background-color: var(--fc1);
  color: #ffffff;
}
/* 그리드 슬라이드 */
.mapGridSlide {
  padding: 0 50px 20px;
}
.mapGridSlide .swiper-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
}

.mainMap .mapSlideList {
  border: 1px solid #b8b8b8;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 100px;
  margin: 0 50px 25px 0 !important;
}
.mapGridSlide .mapSlideList a {
  display: inline-block;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainMap .swiper-button-next,
.mainMap .swiper-button-prev,
.keywordSec .swiper-button-next,
.keywordSec .swiper-button-prev {
  background-color: #a6a6a636;
  border-radius: 0.25rem;
}
.mainMap .swiper-button-next:after,
.mainMap .swiper-button-prev:after,
.keywordSec .swiper-button-next:after,
.keywordSec .swiper-button-prev:after {
  color: #000000;
  font-weight: bold;
  font-size: var(--fs2);
}
.mainMap
  .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
  bottom: 0;
}
.mainMap .mapSlideImg {
  width: 30%;
  height: 100%;
  /* width: 100px; */
  border-radius: 0.5rem;
  overflow: hidden;
  /* border: 1px solid red; */
}
.mainMap .mapSlideImg img {
  width: 100%;
  /* scale: 1.4; */
  object-fit: cover;
  height: 100%;
  transition: 0.3s;
}
.mainMap .mapSlideList:hover .mapSlideImg img {
  scale: 1.2;
  filter: grayscale(0.7);
}
.mainMap .mapSlideInfo {
  display: flex;
  flex-direction: column;
  width: calc(70% - 1rem);
}
.mainMap .mapSlideTitle {
  font-weight: bold;
  font-size: var(--fs2);
  margin-bottom: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainMap .mapSlideAd {
  margin-bottom: 0.25rem;
}
.mainMap .mapSlideAd,
.mainMap .mapSlideTel {
  display: flex;
  align-items: center;
}
.mainMap .mapSlideAd i,
.mainMap .mapSlideTel i {
  width: 1rem;
  display: inline-block;
  margin-right: 0.25rem;
}
.mainMap .mapSlideAd span,
.mainMap .mapSlideTel span {
  width: calc(100% - 1.25rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottomDog {
  position: absolute;
  width: 170px;
}
.bottomDog img {
  width: 100%;
}
.bottomDog1 {
  bottom: -24px;
  left: 0;
}
.bottomDog2 {
  bottom: -33px;
  right: 0;
}

/*////////// Main - KeywordRecommend ////////// */
.keywordSec {
  /* border: 1px solid red; */
  padding: 100px 0;
  background-color: var(--fc3);
}
.keywordSec .topCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0; */
  margin: 0 auto 30px;
  max-width: 1200px;
}
.keywordSec .keywordBtn {
  font-size: var(--fs2);
  color: #888888;
  margin: 0 20px;
  cursor: pointer;
  font-family: "SEBANG_Gothic_Regular";
  transition: 0.3s;
}
.keywordSec .keywordBtn.on {
  /* font-weight: bold; */
  color: black;
}
@media (hover: hover) {
  .keywordSec .keywordBtn:hover,
  .keywordSec .keywordBtn.on:hover {
    color: var(--fc5);
  }
}

/* card slide */
.keywordSec .placeSlide {
  padding: 0.25rem 49px;
  /* padding: 0 29px; */
}
.keywordSec .swiper-button-prev {
  left: 0;
}
.keywordSec .swiper-button-next {
  right: 0;
}
.cardSlideList {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  width: 30%;
  padding: 1rem;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45); */
}

.listCard .cardImg {
  border-radius: 0.75rem;
  overflow: hidden;
  /* border: 1px solid red; */
}
.listCard .cardImg img {
  width: 100%;
  scale: 1.1;
  transition: 0.3s;
}
/* .cardSlideList:hover .cardImg img {
  scale: 1.2;
  filter: grayscale(0.8);
} */
@media (hover: hover) {
  .listCard:hover .cardImg img {
    scale: 1.2;
    filter: grayscale(0.8);
  }
}
.listCard .infoCon {
  padding-top: 0.75rem;
}
.listCard .cardInfo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
.listCard .cardTitle {
  /* font-family: "SEBANG_Gothic_Bold"; */
  font-size: var(--fs2);
  width: calc(100% - 80px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listCard .cardCate {
  /* background-color: #7effff; */
  background-color: var(--fc1);
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.listCard .cardInfo2 {
  padding: 0 0.25rem;
  color: rgb(29, 29, 29);
  /* font-weight: bold; */
}
.listCard .cardInfo2 > p {
  display: flex;
  align-items: center;
}
.listCard .cardAd {
  margin-bottom: 0.25rem;
}
.listCard .cardAd span,
.listCard .cardTel span {
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listCard .cardAd i,
.listCard .cardTel i {
  margin-right: 0.5rem;
}
.loadingDogImg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadingDogImg img {
  width: 80%;
}
.loadingDogImg .loadingComment {
  font-family: "SEBANG_Gothic_Bold";
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
}

/*////////// Hospital ////////// */
.hospitalSec {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}
.hospitalSec .secTitle {
  width: 100%;
  margin-bottom: 70px;
}
.hospitalSec .secInfo {
  margin-bottom: 30px;
}
.hospitalSec .secInfo p {
  color: #6d6d6d;
  font-size: var(--fs3);
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.hospitalSec .secInfo .colorPoint {
  color: #0aa7ff;
}
.hospitalSec .hospitalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: var(--fc1);
  font-size: var(--fs2);
  /* font-family: "LINESeedKR-Bd"; */
  padding-top: 0.25rem;
  transition: 0.3s;
  color: #ffffff;
  width: 200px;
  height: 60px;
}
@media (hover: hover) {
  .hospitalSec .hospitalBtn:hover {
    /* background-color: #64c5fd; */
    background-color: var(--fc4);
  }
}
.hospitalSec .hospitalDogImg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 330px;
}
.hospitalSec .hospitalDogImg img {
  width: 100%;
}

/*////////// SelectedCity ////////// */
.cityBannerSec {
  /* border: 1px solid red; */
  height: 450px;
  background-image: url(/public/img/cityBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cityBannerSec .cityBannerInner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cityBannerSec .innerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cityBannerSec .selectCityMenu {
  font-family: "Katuri";
  position: relative;
  margin: 5rem 0 2rem 2rem;
}
.cityBannerSec .selectCityMenu > li > p {
  font-size: var(--fs6);
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
}
.cityBannerSec .selectCityMenu > li > p > i {
  display: inline-block;
  margin: 0 1rem;
  font-size: var(--fs4);
}
/* .cityBannerSec .selectCityMenu:hover > li > p {
  color: var(--fc4);
} */
.cityBannerSec .selectCitySub {
  width: 80%;
  position: absolute;
  top: 100px;
  padding: 0.25rem;
  border: 1px solid #333;
  border-radius: 1rem;
  /* background-color: #fff7e7; */
  background-color: #ffffff;
  /* text-align: left; */
  transition: 0.3s;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 3;
}
.cityBannerSec .selectCitySub > li {
  padding: 0.75rem 2.5rem;
  margin-bottom: 0.25rem;
  border-radius: 1rem;
  transition: 0.3s;
  /* border: 1px solid red; */
  cursor: pointer;
  text-align: center;
}
/* 모바일 hover 수정할것 */
.cityBannerSec .selectCityMenu:hover .selectCitySub {
  height: 300px;
  overflow-y: scroll;
  opacity: 1;
}
.cityBannerSec .selectCitySub > li:hover {
  background-color: var(--fc4);
}
.cityBannerSec .selectCitySub::-webkit-scrollbar {
  display: none;
}

/* /////////////////////////////////////////// */
.cityBannerSec .cityMessage {
  font-family: "SEBANG_Gothic_Regular";
  font-size: var(--fs2);
  text-align: center;
  line-height: 1.6;
  color: #f9f9f9;
}

/*////////// SelectedCity - slide ////////// */
.cateSec .placeSlide {
  padding: 0.25rem 29px;
}
.cateSec .swiper-button-next,
.cateSec .swiper-button-prev {
  top: 55%;
  transform: translateY(-55%);
  background-color: #a6a6a636;
  border-radius: 0.25rem;
}
.cateSec .swiper-button-prev {
  left: 0;
}
.cateSec .swiper-button-next {
  right: 0;
}
.cateSec .swiper-button-next:after,
.cateSec .swiper-button-prev:after {
  color: #000000;
  font-size: var(--fs2);
  font-weight: bold;
}

/*////////// City - FoodCate ////////// */
.cateSec {
  padding-top: 80px;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cateSec .topCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 30px;
}
.cateSec .viewMoreBtn {
  color: var(--fc1);
  font-size: var(--fs3);
  z-index: 2;
  transition: 0.3s;
}
@media (hover: hover) {
  .cateSec .viewMoreBtn:hover {
    color: var(--fc4);
  }
}
.dogIcon {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}
.dogIcon img {
  width: 100%;
}
.cateSec .slideCon {
  /* border: 1px solid blue; */
  width: 900px;
}
.cateSec .sideDogImg {
  width: calc(100% - 900px - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cateSec .sideDogImg img {
  width: 90%;
  object-fit: cover;
}

/*////////// SelectedCity - HotelCate ////////// */
.hotelCateSec {
  padding-bottom: 80px;
  position: relative;
}
.hotelCateSec .topCon {
  /* margin-bottom: -2rem; */
}
.hotelCateSec .sideDogImg {
  width: calc(100% - 900px - 1rem);
  padding-bottom: 4rem;
  position: absolute;
  top: 75%;
  right: 0;
  transform: translateY(-75%);
}
.hotelCateSec .sideDogImg img {
  width: 100%;
}

/*////////// Category - CateBanner ////////// */
.cateBanner {
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cateBanner .cateBannerInner {
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  position: relative;
}
.cateBanner .bannerTitle {
  font-family: "SEBANG_Gothic_Bold";
  font-size: 96px;
  color: rgba(255, 255, 255, 0.44);
  margin-top: 4rem;
  /* margin-left: 2rem; */
}
.cateBanner .selectCon {
  position: absolute;
  right: 0;
  bottom: 2rem;
  display: flex;
  align-items: center;
}

.cateBanner .selectCityMenu {
  font-family: "Katuri";
  position: relative;
}
.cateBanner .selectCityMenu > li > p {
  font-size: var(--fs3);
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
}
.cateBanner .selectCityMenu > li > p > i {
  display: inline-block;
  margin: 0 1rem;
  font-size: var(--fs2);
}
/* .cateBanner .selectCityMenu:hover > li > p {
  color: var(--fc4);
} */
.cateBanner .selectCitySub {
  width: 80%;
  position: absolute;
  top: 50px;
  padding: 0.25rem;
  border: 1px solid #333;
  border-radius: 1rem;
  background-color: #ffffff;
  transition: 0.3s;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 3;
}
.cateBanner .selectCitySub > li {
  padding: 0.75rem 0;
  margin-bottom: 0.25rem;
  border-radius: 1rem;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}
/* 모바일 hover 수정할것 */
.cateBanner .selectCityMenu:hover .selectCitySub {
  height: 200px;
  overflow-y: scroll;
  opacity: 1;
}
.cateBanner .selectCitySub > li:hover {
  background-color: var(--fc4);
}
.cateBanner .selectCitySub::-webkit-scrollbar {
  display: none;
}

.cateBanner .selectCateMenu {
  font-family: "Katuri";
  width: 175px;
  position: relative;
}
.cateBanner .selectCateMenu > li > p {
  font-size: var(--fs3);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
}
.cateBanner .selectCateMenu > li > p > i {
  display: inline-block;
  margin: 0 1rem;
  font-size: var(--fs2);
}
/* .cateBanner .selectCateMenu:hover > li > p {
  width: 175px;
  color: var(--fc4);
} */
.cateBanner .selectCateSub {
  width: 80%;
  position: absolute;
  top: 50px;
  padding: 0.25rem;
  border: 1px solid #333;
  border-radius: 1rem;
  background-color: #ffffff;
  transition: 0.3s;
  height: 0;
  opacity: 0;
  /* height: 150px; */
  overflow: hidden;
  z-index: 3;
}
.cateBanner .selectCateSub > li {
  padding: 0.75rem 0;
  margin-bottom: 0.25rem;
  border-radius: 1rem;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}
.cateBanner .selectCateSub > li:last-of-type {
  margin-bottom: 0;
}
/* 모바일 hover 수정할것 */
.cateBanner .selectCateMenu:hover .selectCateSub {
  height: 150px;
  overflow-y: scroll;
  opacity: 1;
}
.cateBanner .selectCateSub > li:hover {
  background-color: var(--fc4);
}
.cateBanner .selectCateSub::-webkit-scrollbar {
  display: none;
}
/*////////// Category - CateList ////////// */
.cateList {
  padding: 80px 0 10px 0;
}
.cateList .listCon {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cateList .listCard {
  width: calc(100% / 4 - 1rem);
  margin-right: 1.33rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  padding: 1rem;
}
.cateList .listCard:nth-of-type(4n) {
  margin-right: 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
/* 데이터가 없을때 */
.noDataBox {
  padding-top: 80px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.noDataBox .loadingComment {
  font-size: var(--fs3);
}

/*////////// Detail - detailBanner ////////// */
.detailBanner {
  /* height: 550px; */
  background-color: var(--fc3);
  /* border: 1px solid red; */
}
.detailBanner .detailBannerInner {
  width: 100%;
  /* height: 100%; */
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.detailBanner .breadCrumbsCon {
  width: 100%;
  padding: 1rem;
  margin-left: 0.5rem;
  /* margin-bottom: 1rem; */
  /* border: 1px solid red; */
  display: flex;
}
.detailBanner .breadCrumbsCon li {
  /* border: 1px solid red; */
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  position: relative;
  transition: 0.3s;
}
.detailBanner .breadCrumbsCon li:last-of-type {
  margin-top: 0.1rem;
}
.detailBanner .breadCrumbsCon li::after {
  content: "\f054";
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: -30%;
  top: 2px;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}
.detailBanner .breadCrumbsCon li:last-of-type:after {
  display: none;
}
.detailBanner .breadCrumbsCon li:hover a {
  color: var(--fc4);
}
.detailBanner .detailInfo {
  /* border: 1px solid blue; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.detailBanner .detailImg {
  width: 540px;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}
.detailBanner .detailImg img {
  width: 100%;
  scale: 1.1;
}
.detailBanner .detailTextBox {
  width: calc(100% - 540px - 3rem);
  height: 360px;
  padding: 50px 30px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
.detailBanner .detailTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.detailBanner .detailTitle span:last-of-type {
  /* background-color: #7effff; */
  background-color: var(--fc4);
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailBanner .detailTitle span:first-of-type {
  font-weight: bold;
  font-size: var(--fs3);
}
.detailBanner .detailList > div {
  margin-bottom: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detailBanner .detailList > div > i {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.detailBanner .detailList > div > span {
  width: calc(100% - 20px);
}
/*////////// Detail - DetailInfoList ////////// */
.detailIntro {
  padding: 60px 2rem 30px 2rem;
}
.detailPrice {
  padding: 0 2rem 30px 2rem;
}
.detailCaution {
  padding: 0 2rem 30px 2rem;
}
.detailTitleBox {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #5e5e5e;
  padding-bottom: 0.25rem;
}
.detailTitleBox .dogIcon {
  width: 45px;
  height: 45px;
}
.detailTitleBox .dogIcon img {
  width: 100%;
}
.detailTitleBox span {
  font-size: var(--fs3);
  font-weight: bold;
}
.detailIntro .detailIntroText,
.detailPrice .detailPriceText,
.detailCaution .detailCautionText {
  padding: 20px 0 50px 0;
  line-height: 1.5;
}
.detailPrice .detailPriceText p,
.detailCaution .detailCautionText p {
  margin-bottom: 0.5rem;
  padding-left: 15px;
  text-indent: -15px;
}
/* 주변추천장소 */
.recommendPlace {
  /* border: 1px solid red; */
  padding: 0 2rem 80px 2rem;
}
.recommendPlace .recommendCon {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommendPlace .recommendCon a {
  width: calc((100% / 4) - 1rem);
}

.recommendPlace .recommendList {
  /* width: calc((100% / 4) - 1rem); */
  border: 1px solid #4a4a4a;
  border-radius: 1rem;
  overflow: hidden;
}
.recommendPlace .recommendImg {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* border: 1px solid red; */
}
.recommendPlace .recommendImg img {
  width: 100%;
  /* height: 100%; */
  scale: 1.1;
  transition: 0.3s;
}
@media (hover: hover) {
  .recommendPlace .recommendList:hover .recommendImg img {
    scale: 1.2;
    filter: grayscale(0.8);
  }
}
.recommendPlace .recommendTitle {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs2);
}

/*////////// HospitalMap - hospitalBanner ////////// */
.hospitalBanner {
  height: 300px;
  background-color: var(--fc3);
}
.hospitalBanner .bannerInner {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hospitalBanner .bannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hospitalBanner .bannerTitle {
  font-size: var(--fs5);
  color: #003769;
  font-weight: bold;
  padding: 4rem 0 1rem;
  z-index: 1;
}
.hospitalBanner .bannerInfo {
  font-size: var(--fs3);
  color: #376ea0;
  z-index: 1;
}
.hospitalBanner .sickDogImg1 {
  position: absolute;
  left: 0;
  bottom: 2rem;
}
.hospitalBanner .sickDogImg1 img {
  width: 100%;
}
.hospitalBanner .sickDogImg2 {
  position: absolute;
  right: 0;
  bottom: 1rem;
}
.hospitalBanner .sickDogImg2 img {
  width: 100%;
}

/*////////// HospitalMap - hospitalSearch ////////// */
.hospitalSearch {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hospitalSearch .searchBox {
  width: 400px;
  height: 520px;
  padding: 50px 30px;
  background-color: var(--fc3);
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  transition: 0.3s;
  position: relative;
}
.btnHospital {
  justify-content: center;
  align-items: center;
  background-color: #000000bc;
  color: #ffffff;
  /* color: var(--fc1); */
  border-radius: 0 0.5rem 0.5rem 0;
  width: 35px;
  height: 60px;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -35px;
  display: none;
}
.btnHospital.on i {
  transform: rotateY(180deg);
}
.hospitalSearch .inputCon {
  /* border: 1px solid red; */
  position: relative;
  margin-bottom: 30px;
}
.hospitalSearch .inputCon > label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
.hospitalSearch .hospitalSearchInput {
  width: 100%;
  height: 40px;
  padding: 0.75rem 50px;
  border-radius: 1rem;
  font-size: var(--fs1);
  border: 1px solid #aaaaaa;
}
.hospitalSearch .searchMap {
  width: calc(100% - 400px - 40px);
}
.hospitalSearch .resultCon {
  border: 1px solid #aaaaaa;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 370px;
}
.hospitalSearch .resultCon::-webkit-scrollbar {
  width: 10px;
  height: 350px;
}
.hospitalSearch .resultCon::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 1rem;
  height: 20%;
}
.hospitalSearch .resultCon::-webkit-scrollbar-track {
  /* background-color: #d9d9d9; */
  background-color: transparent;
}

.hospitalSearch .resultItem {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  border-bottom: 3px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
@media (hover: hover) {
  .hospitalSearch .resultItem:hover {
    color: var(--fc1);
  }
}
.hospitalSearch .hospitalName {
  font-size: var(--fs2);
  margin-bottom: 0.75rem;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}
.hospitalSearch .hospitalAd,
.hospitalSearch .hospitalTel {
  width: 100%;
  display: flex;
  align-items: center;
}
.hospitalSearch .hospitalAd i,
.hospitalSearch .hospitalTel i {
  width: 15px;
  margin-right: 0.25rem;
}
.hospitalSearch .hospitalAd span:first-of-type,
.hospitalSearch .hospitalTel span:first-of-type {
  width: 2rem;
  margin-right: 0.25rem;
}
.hospitalSearch .hospitalAd span:last-of-type,
.hospitalSearch .hospitalTel span:last-of-type {
  text-align: start;
  width: calc(100% - 15px - 2.75rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*////////// HospitalMap - hospitalSearch - HospitalMapResult  ////////// */
.hospitalSearch .searchMap {
  width: calc(100% - 400px - 40px);
  height: 520px;
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
  /* border: 1px solid red; */
}

/*////////// Footer ////////// */
.ft {
  background-color: var(--fc3);
}
.ft .footerInner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem 0;
}
.ft .footerInner * {
  /* border: 1px solid red; */
}
.ft .logo {
  width: 120px;
  margin-left: -1.5rem;
}
.ft .logo img {
  width: 100%;
}
.ft .footerInner > p {
  margin: 0 51px 0 1rem;
  text-align: center;
  line-height: 1.5;
}
.ft .githubLink {
  display: flex;
  align-items: center;
}
.ft .githubImg {
  margin-right: 0.75rem;
}

/*////////// 반응형 ////////// */

@media (max-width: 1130px) {
  .mainMap {
    height: 680px;
  }
  .mapImg {
    width: 400px;
    height: 400px;
  }
  .mapImg svg {
    position: absolute;
    top: 0;
    right: 0;
  }
  a.Cheorwon {
    top: 125px;
    left: 40px;
  }
  a.Hwacheon {
    top: 145px;
    left: 95px;
  }
  a.Yanggu {
    top: 135px;
    left: 150px;
  }
  a.Goseong {
    top: 100px;
    left: 222px;
  }
  a.Sokcho {
    top: 150px;
    left: 245px;
  }
  a.Inje {
    top: 170px;
    left: 195px;
  }
  a.Chuncheon {
    top: 195px;
    left: 100px;
  }
  a.Hongcheon {
    top: 235px;
    left: 150px;
  }
  a.Yangyang {
    top: 195px;
    left: 260px;
  }
  a.Gangneung {
    top: 259px;
    left: 300px;
  }
  a.Pyeongchang {
    top: 287px;
    left: 220px;
  }
  a.Hoengseong {
    top: 290px;
    left: 160px;
  }
  a.Wonju {
    top: 330px;
    left: 120px;
  }
  a.Yeongwol {
    top: 360px;
    left: 215px;
  }
  a.Jeongseon {
    top: 330px;
    left: 270px;
  }
  a.Donghae {
    top: 310px;
    left: 330px;
  }
  a.Samcheok {
    top: 360px;
    left: 345px;
  }
  a.Taebaek {
    top: 382px;
    left: 312px;
  }
  .mainMap .selectDetail {
    width: calc(100% - 400px - 2rem);
  }
  .mainMap .mapSlideList {
    margin: 0 50px 10px 0 !important;
  }
  .bottomDog1 {
    bottom: -74px;
    left: 0;
  }
  .bottomDog2 {
    bottom: -83px;
    right: 0;
  }
  .keywordSec .keywordBtn {
    margin: 0 12px;
  }
  .cateSec .slideCon {
    width: 100%;
  }
  .cateSec .sideDogImg {
    display: none;
  }
}

@media (max-width: 960px) {
  .searchModalWrap .keywordCon {
    width: 100%;
    padding: 0 20px;
  }
  .searchModalWrap .resultDetail {
    width: calc(100% - 80px - 0.75rem);
  }
  .searchModalWrap .resultTitle {
    font-size: var(--fs1);
  }
  .mainBanner {
    height: 400px;
  }
  .mainBanner .pgInfo {
    font-size: var(--fs3);
  }
  .mainMapWrapper {
    height: 660px;
  }
  .mainMapWrapper .sideBtn {
    display: block;
  }
  .mainMap {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .mapImg {
    margin-top: -1rem;
  }
  .mainMap .secTitle {
    justify-content: center;
    margin-right: 2rem;
  }
  .mainMap .selectDetail {
    position: absolute;
    transition: 0.5s;
    left: -600px;
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    z-index: 3;
  }
  .mainMap .selectDetail.on {
    left: 50%;
    transform: translateX(-50%);
  }
  .mainMap .detailCon {
    background-color: #ffffff;
  }
  .bottomDog1 {
    bottom: -4px;
  }
  .bottomDog2 {
    bottom: -12px;
  }
  .keywordSec {
    padding: 100px 0;
  }
  .keywordSec .topCon {
    flex-direction: column;
  }
  .keywordSec .secTitle {
    margin-bottom: 1.5rem;
  }
  .keywordSec .keywordCon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 29px;
  }
  .keywordSec .keywordBtn {
    margin: 0 2rem 0.5rem;
  }
  .hospitalSec .secTitle {
    justify-content: center;
    align-items: center;
  }
  .keywordSec .placeSlide {
    padding: 0.25rem 29px;
  }
  .hospitalSec .hospitalDetail {
    width: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hospitalSec .hospitalDogImg {
    right: 55%;
    transform: translate(55%, -30%);
    width: 300px;
    z-index: -1;
  }
  .hospitalSec .hospitalDogImg img {
    opacity: 0.2;
  }
  .cateList .listCard {
    width: calc(100% / 3 - 1rem);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .cateList .listCard:nth-of-type(4n) {
    margin-right: 1.5rem;
  }
  .cateList .listCard:nth-of-type(3n) {
    margin-right: 0;
  }
  .detailBanner .breadCrumbsCon {
    width: 80%;
  }
  .detailBanner .detailInfo {
    flex-direction: column;
  }
  .detailBanner .detailImg {
    width: 80%;
    margin-bottom: 1rem;
  }
  .detailBanner .detailTextBox {
    width: 80%;
    height: 100%;
  }
  .recommendPlace .recommendTitle {
    font-size: var(--fs1);
  }
  .hospitalBanner .sickDogImg1 img,
  .hospitalBanner .sickDogImg2 img {
    opacity: 0.5;
  }
  .hospitalSearch {
    position: relative;
    overflow: hidden;
  }
  .btnHospital {
    display: flex;
  }
  .hospitalSearch .searchBox {
    position: absolute;
    top: 70px;
    left: -400px;
    z-index: 1;
  }
  .hospitalSearch .searchBox.on {
    left: 0;
  }

  .hospitalSearch .searchMap {
    width: 100%;
  }
  .ft .footerInner {
    justify-content: center;
  }
  .ft .logo {
    margin: 0;
  }
  .ft .footerInner > p {
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 0.75rem;
  }
  .ft .githubLink {
    margin-top: 1.25rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 750px) {
  .btnSearch {
    width: 120px;
    height: 40px;
    border-radius: 8px;
  }
  .searchModalWrap .searchModal {
    padding: 80px;
  }
  .searchModalWrap .closeBtn {
    font-size: 0.75rem;
  }
  .searchModalWrap .modalTitle {
    font-size: var(--fs4);
    word-break: keep-all;
  }
  .searchModalWrap .keywordCon {
    padding: 0 30px;
  }
  .searchModalWrap .searchResult {
    justify-content: center;
    padding: 1rem 0.25rem 1rem 0;
  }
  .searchModalWrap .resultItem {
    width: 90%;
  }
  .searchModalWrap .resultItem:nth-of-type(2n -1) {
    margin-right: 0;
  }
  .mainBanner {
    height: 300px;
  }
  .mainBanner .bannerInner {
    padding: 4rem 0 2rem;
  }
  .mainBanner .pgTitle {
    /* font-size: var(--fs5); */
    margin-bottom: 1rem;
  }
  .mainBanner .pgInfo {
    display: flex;
    flex-direction: column;
  }
  .mainBanner .pgInfo > span:first-of-type {
    margin-bottom: 0.25rem;
  }
  .keywordSec .topCon {
    margin-bottom: 0.75rem;
  }
  .cityBannerSec {
    height: 300px;
  }
  .cityBannerSec .selectCityMenu > li > p {
    font-size: var(--fs5);
  }
  .cityBannerSec .selectCitySub {
    top: 80px;
  }
  .cityBannerSec .cityMessage {
    font-size: var(--fs1);
  }
  .cateBanner {
    height: 300px;
  }
  .cateBanner .bannerTitle {
    margin-top: 3rem;
    font-size: var(--fs6);
  }
  .cateBanner .selectCon {
    bottom: 0.5rem;
  }
  .loadingDogImg img {
    width: 100%;
  }
  .cateList .listCard .cardTitle {
    font-size: var(--fs1);
  }
  .cateList .listCard .cardCate {
    font-size: 0.75rem;
    border-radius: 0.25rem;
  }
  .cateList .listCard .cardAd span,
  .cateList .listCard .cardTel span {
    font-size: 0.75rem;
  }
  .recommendPlace .recommendCon a {
    width: calc((100% / 4) - 0.5rem);
  }
  .recommendPlace .recommendTitle {
    font-size: 0.75rem;
  }
  .hospitalBanner .sickDogImg2 {
    display: flex;
    justify-content: flex-end;
    bottom: 2rem;
  }
  .hospitalBanner .sickDogImg1 img,
  .hospitalBanner .sickDogImg2 img {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .searchModalWrap .keywordItem .searchKeyword {
    font-size: var(--fs1);
  }
  .listCard .cardTitle {
    font-size: var(--fs1);
  }
  .listCard .cardCate {
    font-size: 0.75rem;
    border-radius: 0.25rem;
  }
  .listCard .cardAd span,
  .listCard .cardTel span {
    font-size: 0.75rem;
  }

  .cateList .listCard {
    width: calc(100% / 2 - 0.75rem);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .cateList .listCard:nth-of-type(4n) {
    margin-right: 1.5rem;
  }
  .cateList .listCard:nth-of-type(3n) {
    margin-right: 1.5rem;
  }
  .cateList .listCard:nth-of-type(2n) {
    margin-right: 0;
  }
  .recommendPlace .recommendCon {
    flex-wrap: wrap;
  }
  .recommendPlace .recommendCon a {
    width: calc((100% / 2) - 0.5rem);
    margin-bottom: 1rem;
  }
  .hospitalBanner .bannerTitle {
    font-size: var(--fs4);
  }
  .hospitalBanner .bannerInfo {
    font-size: var(--fs2);
  }
}

@media (max-width: 520px) {
  .searchModalWrap .searchModal {
    padding: 80px 30px;
  }
  .searchModalWrap .modalTitle {
    font-size: var(--fs3);
  }
  .searchModalWrap .keywordCon {
    padding: 0 15px;
  }
  .searchModalWrap .searchResult {
    height: 60%;
  }
  .searchModalWrap .resultItem {
    height: 90px;
  }
  .searchModalWrap .resultImg {
    width: 70px;
  }
  .searchModalWrap .resultDetail {
    width: calc(100% - 70px - 0.75rem);
  }
  .searchModalWrap .resultAd {
    font-size: 0.75rem;
  }
  .mainMapWrapper {
    height: 520px;
  }
  .mainMap {
    height: 500px;
  }
  .mapImg {
    width: 300px;
    height: 300px;
    /* border: 1px solid red; */
  }
  .mapImg svg {
    position: absolute;
    top: -50px;
    right: -10px;
  }
  a.Cheorwon {
    top: 100px;
    left: 25px;
  }
  a.Hwacheon {
    top: 113px;
    left: 67px;
  }
  a.Yanggu {
    top: 110px;
    left: 106px;
  }
  a.Goseong {
    top: 80px;
    left: 163px;
  }
  a.Sokcho {
    top: 117px;
    left: 180px;
  }
  a.Inje {
    top: 136px;
    left: 142px;
  }
  a.Chuncheon {
    top: 160px;
    left: 65px;
  }
  a.Hongcheon {
    top: 180px;
    left: 108px;
  }
  a.Yangyang {
    top: 153px;
    left: 188px;
  }
  a.Gangneung {
    top: 192px;
    left: 219px;
  }
  a.Pyeongchang {
    top: 214px;
    left: 162px;
  }
  a.Hoengseong {
    top: 220px;
    left: 115px;
  }
  a.Wonju {
    top: 250px;
    left: 85px;
  }
  a.Yeongwol {
    top: 278px;
    left: 158px;
  }
  a.Jeongseon {
    top: 255px;
    left: 195px;
  }
  a.Donghae {
    top: 237px;
    left: 245px;
  }
  a.Samcheok {
    top: 280px;
    left: 257px;
  }
  a.Taebaek {
    top: 290px;
    left: 227px;
  }
  .mainMap .selectDetail {
    top: 30px;
  }
  .mainMap .selectDetail.on {
    left: 50%;
    transform: translateX(-50%);
  }
  .mainMap .tabMenu {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .mainMap .tabBtn {
    padding: 0.5rem 0.75rem;
    /* border-radius: 0.25rem; */
    font-size: 0.75rem;
  }
  .mainMap .detailCon {
    padding: 1rem;
  }
  .mapGridSlide {
    padding: 0 30px 30px;
  }
  .mainMap .mapSlideList {
    height: 80px;
  }
  .mainMap .mapSlideTitle {
    font-size: var(--fs1);
  }
  .mainMap .mapSlideAd,
  .mainMap .mapSlideTel {
    font-size: 0.75rem;
  }
  .mainMap .mapSlideAd i,
  .mainMap .mapSlideTel i {
    width: 0.75rem;
    display: inline-block;
  }
  .mainMap .swiper-button-prev {
    left: 0;
  }
  .mainMap .swiper-button-next {
    right: 0;
  }
  .mainMap .swiper-button-prev::after,
  .mainMap .swiper-button-next::after {
    font-size: 2rem;
  }
  .bottomDog {
    width: 120px;
  }
  .bottomDog1 {
    bottom: -38px;
  }
  .bottomDog2 {
    bottom: -45px;
  }
  .keywordSec {
    padding: 50px 0;
  }
  .keywordSec .keywordBtn {
    font-size: var(--fs1);
  }
  .keywordSec .keywordBtn {
    margin: 0 1rem 0.75rem;
  }
  .hospitalSec {
    padding: 50px 0;
  }
  .hospitalSec .hospitalDogImg {
    top: 30%;
    width: 250px;
  }
  .hospitalSec .secInfo p {
    font-size: var(--fs2);
  }
  .cateSec .topCon {
    padding: 0 1rem;
  }
  .cateBanner .bannerTitle {
    font-size: 50px;
  }
  .cateSec .viewMoreBtn {
    font-size: var(--fs2);
  }
  .cateList .listCard {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .cateList .listCard:nth-of-type(4n) {
    margin-right: 0;
  }
  .cateList .listCard:nth-of-type(3n) {
    margin-right: 0;
  }
  .cateList .listCard:nth-of-type(2n) {
    margin-right: 0;
  }
  .detailBanner .detailBannerInner {
    padding: 90px 0 50px;
  }
  .detailBanner .breadCrumbsCon {
    width: 100%;
  }
  .detailBanner .detailImg {
    width: 100%;
    /* margin-bottom: 1rem; */
  }
  .detailBanner .detailTextBox {
    width: 100%;
  }
  .detailIntro {
    padding: 50px 0 30px;
  }
  .detailPrice {
    padding: 0 0 30px;
  }
  .detailCaution {
    padding: 0 0 30px;
  }
  .recommendPlace {
    padding: 0 0 50px;
  }
  .hospitalBanner .sickDogImg1 {
    display: none;
  }
  .hospitalBanner .sickDogImg2 {
    left: 50%;
    transform: translateX(-50%);
  }
  .hospitalBanner .bannerTitle {
    font-size: var(--fs3);
  }
  .hospitalBanner .bannerInfo {
    font-size: var(--fs1);
  }
  .hospitalSearch .searchBox {
    width: 250px;
    height: 400px;
    padding: 2rem 1rem;
    left: -250px;
  }
  .hospitalSearch .hospitalSearchInput {
    padding: 0.75rem 0.75rem 0.75rem 40px;
    font-size: 0.75rem;
  }
  .hospitalSearch .resultCon {
    padding: 0.5rem;
    height: 260px;
  }
  .hospitalSearch .resultItem {
    height: 80px;
  }
  .hospitalSearch .hospitalName {
    font-size: var(--fs1);
  }
  .hospitalSearch .hospitalAd,
  .hospitalSearch .hospitalTel {
    font-size: 0.75rem;
  }
  .hospitalSearch .searchMap {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .mainBanner .pgTitle {
    font-size: var(--fs5);
  }
  .mainBanner .pgInfo {
    font-size: var(--fs2);
  }
  .btnSearch {
    width: 40px;
    height: 40px;
    /* padding: 0; */
    margin-right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .searchText {
    display: none;
  }
  .searchIcon {
    display: block;
  }
  .searchModalWrap .searchModal {
    padding: 50px 25px;
  }
  .searchModalWrap .closeBtn {
    font-size: 0.5rem;
    top: 0.75rem;
    right: 0.75rem;
  }
  .searchModalWrap .modalTitle {
    font-size: var(--fs2);
  }
  .searchModalWrap .inputInfo {
    font-size: 1rem;
  }
  input.searchInput:focus ~ .inputInfo,
  input.searchInput:valid ~ .inputInfo {
    font-size: 0.75rem;
  }
  .searchModalWrap .keywordItem .searchKeyword {
    font-size: 0.75rem;
  }
  .searchModalWrap .swiper-button-prev::after,
  .searchModalWrap .swiper-button-next::after {
    font-size: var(--fs1);
  }
  .mainMapWrapper {
    height: 480px;
  }
  .mainMapWrapper .sideBtn {
    top: 35%;
    transform: translateY(-35%);
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .mainMapWrapper .sideBtn > div {
    padding: 0.75rem 0.5rem 0.75rem 0.25rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .mainMapWrapper .sideBtn > div span {
    font-size: 0.75rem;
  }
  .mainMap {
    padding: 30px;
  }
  .secTitle span {
    font-size: var(--fs3);
  }
  .mapImg {
    width: 260px;
    height: 260px;
    margin-top: -50px;
  }
  .mapImg a span {
    font-size: 0.75rem;
  }
  .mapImg a.on {
    z-index: 3;
  }
  a.Cheorwon {
    top: 105px;
    left: 20px;
  }
  a.Hwacheon {
    top: 118px;
    left: 62px;
  }
  a.Yanggu {
    top: 115px;
    left: 96px;
  }
  a.Goseong {
    top: 96px;
    left: 145px;
  }
  a.Sokcho {
    top: 128px;
    left: 155px;
  }
  a.Inje {
    top: 134px;
    left: 125px;
  }
  a.Chuncheon {
    top: 160px;
    left: 60px;
  }
  a.Hongcheon {
    top: 180px;
    left: 98px;
  }
  a.Yangyang {
    top: 158px;
    left: 167px;
  }
  a.Gangneung {
    top: 198px;
    left: 193px;
  }
  a.Pyeongchang {
    top: 210px;
    left: 145px;
  }
  a.Hoengseong {
    top: 218px;
    left: 102px;
  }
  a.Wonju {
    top: 241px;
    left: 76px;
  }
  a.Yeongwol {
    top: 264px;
    left: 140px;
  }
  a.Jeongseon {
    top: 245px;
    left: 172px;
  }
  a.Donghae {
    top: 230px;
    left: 213px;
  }
  a.Samcheok {
    top: 265px;
    left: 225px;
  }
  a.Taebaek {
    top: 278px;
    left: 200px;
  }
  .mainMap .tabMenu {
    padding: 0 26px;
  }
  .mainMap .tabBtn {
    padding: 0.25rem 0.5rem;
    margin: 0 1px;
    font-size: 0.5rem;
    border-radius: 0.25rem;
  }
  .mainMap .mapSlideInfo {
    width: calc(70% - 0.5rem);
  }
  .mainMap .mapSlideTitle {
    font-size: 0.75rem;
  }
  .mainMap .mapSlideAd,
  .mainMap .mapSlideTel {
    font-size: 0.5rem;
  }
  .bottomDog1 {
    bottom: 2px;
  }
  .bottomDog2 {
    bottom: -5px;
  }
  .hospitalSec .secInfo p {
    font-size: var(--fs1);
    line-height: 1.5;
    margin-bottom: 0;
  }
  .cityBannerSec .selectCityMenu {
    margin-top: 3rem;
  }
  .cityBannerSec .cityMessage {
    font-size: 0.75rem;
  }
  .cateSec {
    padding-top: 50px;
  }
  .cateSec .viewMoreBtn {
    font-size: 0.75rem;
  }
  .cateBanner .selectCon {
    width: 100%;
    justify-content: flex-end;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    /* right: -2.5rem; */
  }
  .detailBanner .breadCrumbsCon {
    padding: 0.5rem;
  }
  .detailBanner .breadCrumbsCon li {
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }
  .detailBanner .detailTextBox {
    padding: 30px;
  }
  .detailBanner .detailTitle span:first-of-type {
    font-size: var(--fs2);
  }
  .detailBanner .detailTitle span:last-of-type {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
  }
  .detailBanner .detailList > div > span {
    font-size: 0.75rem;
  }
  .detailBanner .detailList > .detailAd > i {
    margin-right: 0;
  }
  .detailTitleBox .dogIcon {
    width: 30px;
    height: 30px;
  }
  .detailTitleBox span {
    font-size: var(--fs2);
  }
  .detailIntro .detailIntroText,
  .detailPrice .detailPriceText,
  .detailCaution .detailCautionText {
    font-size: 0.75rem;
  }
  .detailPrice .detailPriceText p,
  .detailCaution .detailCautionText p {
    padding-left: 12px;
    text-indent: -12px;
  }
  .recommendPlace .recommendList {
    border-radius: 0.75rem;
  }
  .hospitalBanner .bannerText {
    padding: 0 1rem;
    text-align: center;
  }
  .hospitalBanner .bannerInfo {
    /* font-size: 0.75rem; */
    text-align: center;
    line-height: 1.5;
  }
}

@media (max-width: 400px) {
  .hospitalSearch .searchBox {
    width: 200px;
    height: 400px;
    padding: 1.5rem 0.75rem;
    left: -200px;
  }
}
